doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Zoom | Web RTC, SocketIO, Web Socket
    link(rel="stylesheet", href="https://unpkg.com/mvp.css@1.12/mvp.css")
  body 
    header
      h1 Zoom | Web RTC, SocketIO, Web Socket
    main
      h2 Learn Web RTC, SocketIT, Web Socket
    script(src="/public/js/app.js") 